html
	height: 100%
	
.contacts
	width: 22%
	height: 100%
	background-color: #353B7D
	position: absolute
	&__top
		height: 60px
		box-shadow: black -2px 2px 4px 0px
		
.contacts-search
	text-align: center
	padding-top: 14px
	&__input
		background-color: rgba(0, 0, 0, 0)
		border: none
		color: #b5c0c6
		width: calc(80% - 10px)
		padding-right: 10px
		&:focus
			outline: none
			color: #B5C0C6
		&::-webkit-input-placeholder
			color: #b5c0c6
	&__box
		width: calc(100% - 43px)
		margin: 0 auto
		background-color: #636791
		padding: 5px 0
	&__search-icon
		color: #B5C0C6
		padding: 0 19px 0 7px
		margin-right: -5px
		font: 400 13.3333px Arial

.chat
	width: 80%;
	height: 100%;
	display: inline-block;
	padding-left: 20%;
	&__top
		height: 60px;
		box-shadow: #B5C0C6 -2px 2px 4px 0px;